@model IEnumerable<AppointmentData.Models.Appointment>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers Index</h1>
<script src="~/js/jquery-3.7.1.min.js"></script>

<table class="table">
    <thead>
        <tr>
            
            
            <th>
                FullName
            </th>
            <th>
              Phone
            </th>
            <th>
               Address
            </th>
            <th>
                Email
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>  
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
               
                <td>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#sdj_@item.CustomerId">
                        Details
                    </button>
                    <div class="modal fade" id="sdj_@item.CustomerId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">@item.CustomerFullName</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    
                                    CustomerName: @item.CustomerFullName<br>
                                    CustomerPhone: @item.CustomerPhone<br>
                                    CustomerAddress: @item.CustomerAddress<br>
                                    CustomerEmail: @item.CustomerEmail<br>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
